
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>更改头像  - Say Say</title>

		<link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>

    <link href="/css/signin.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    
  </head>

  <body>
  	
  	<% include header.ejs %>
  	
    <div class="container">
			
			<h1>上传头像</h1>
			
			<form action="/dosetavatar" method="post" enctype="multipart/form-data">
				
				<div class="form-group">
					<label for="touxinag">请更改头像</label>
					<input type="file" class="form-control" id="touxinag" name="touxiang" />
				</div>	
				
				<div class="form-group">
					<button type="submit" id="shangchuan" class="btn btn-default">上传</button>
				</div>
				
			</form>
			
    </div> 

    <footer class="copy">
      <p>&copy; Company 2016</p>
    </footer>

		<script src="/lib/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		
	
  </body>
</html>
