
/**
 * 全局变量
 */

$defaultPadding: 20px;

$rootColor: #00f7f7;

$defulutGray: #666;

$while: #fff;
$black: #111;

$borderBalck: #070707;

$w25: 25%;



$defalutFontSize: 14px;
$bigFontSize: 16px;
$samllFontSize: 12px;

